<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Home</title>
</head>
<body>
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <img src="~/images/meNLily.jpg" alt="me and lily">
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nemo obcaecati molestias sequi nam, laudantium sit adipisci quod ipsa, quis, fugit blanditiis nesciunt quam mollitia beatae incidunt! Dicta, consectetur harum.</p>
</body>
</html>