<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
    <h1>Here are some projects!</h1>
    <div class="flexWrap">
        <div class="project">
            <h3>Cool thing I made</h3>
            <img src="~/images/artorias.jpeg" alt="artorias">
            <div id="textBox">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quo recusandae distinctio unde eos rem exercitationem quod sint sed. Repellat enim ipsa labore nobis hic. Quaerat rerum architecto reprehenderit quae.
            </div>
        </div>
        <div class="project">
            <h3>Cool thing I made</h3>
            <img src="~/images/ornstein.jpg" alt="ornstein">
            <div id="textBox">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quo recusandae distinctio unde eos rem exercitationem quod sint sed. Repellat enim ipsa labore nobis hic. Quaerat rerum architecto reprehenderit quae.
            </div>
        </div>
        <div class="project">
            <h3>Cool thing I made</h3>
            <img src="~/images/irithyl.jpeg" alt="irithyl">
            <div id="textBox">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quo recusandae distinctio unde eos rem exercitationem quod sint sed. Repellat enim ipsa labore nobis hic. Quaerat rerum architecto reprehenderit quae.
            </div>
        </div>
    </div>
</body>
</html>